{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load asset_tags %}

{% block content %}
  <div class="container"> 
    <div class="row">

      <div class="col-sm-6">
        {% include "asset/preview.html" %}

        <div class="well">

          <h4>{% trans "HOT_WALLET" %}</h4>
          {% with asset.hotwallet as wallet %}
            {% include "asset/wallet.html" %}
          {% endwith %}
        </div>
      </div>

      <div class="col-sm-6">

        <div class="well">

          <h4>{% trans "COLD_STORAGE" %}</h4>

          {% if user.is_superuser %}
            {% url "asset_coldstorage_add" asset.asset.lower as addurl %}
            {% render_button _("ADD_WALLET") addurl "btn btn-warning" %}

            {% url "asset_coldstorage_send" asset.asset.lower as sendurl %}
            {% render_button _("SEND_FUNDS") sendurl "btn btn-warning" %}

            {% url "asset_coldstorage_import" asset.asset.lower as importurl %}
            {% render_button _("IMPORT_WALLET") importurl "btn btn-warning" %}
          {% endif %}

          {% with asset.coldstorages as wallet %}
            {% include "asset/wallet.html" %}
          {% endwith %}
        </div>
      </div>

    </div>
  </div>

{% endblock %}
