{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load asset_tags %}

{% block content %}
  <div class="container"> 
    <div class="row">

      <div class="col-sm-6">
        <div class="well">

          <h4>{% trans "SITE_FUNDS" %}</h4>

          <table class="table table-striped table-hover ">
            <tbody>

              {##### TOTAL FUNDS #####}
              <tr>
                <td>{% trans "TOTAL" %}</td>
                <td style="text-align: right;">
                  {{ funds_total|render_asset:asset }}
                </td>
              </tr>

              {##### HOT WALLET #####}
              <tr class="danger">
                <td>
                  {% trans "HOT_WALLET" %} 
                  ({{ fraction_hot|render_percent }})
                </td>
                <td style="text-align: right;">
                  {{ funds_hot|render_asset:asset }}
                </td>
              </tr>
              <tr class="danger">
                <td colspan="2">
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger"
                         style="width: {{ fraction_hot|render_percent }}">
                    </div>
                  </div>
                </td>
              </tr>

              {##### COLD STORAGE #####}
              <tr class="info">
                <td>
                  {% trans "COLD_STORAGE" %}
                  ({{ fraction_cold|render_percent }})
                </td>
                <td style="text-align: right;">
                  {{ funds_cold|render_asset:asset }}
                </td>
              </tr>
              <tr class="info">
                <td colspan="2">
                  <div class="progress">
                    <div class="progress-bar" "progress-bar-info"
                         style="width: {{ fraction_cold|render_percent }}">
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="well">
          <h4>{% trans "DISTRIBUTION" %}</h4>
          <table class="table table-striped table-hover ">
            <tbody>
              {##### TOTAL FUNDS #####}
              <tr>
                <td>{% trans "TOTAL" %}</td>
                <td style="text-align: right;">
                  {{ funds_total|render_asset:asset }}
                </td>
              </tr>

              {##### BOUND_USERFUNDS #####}
              <tr class="info">
                <td>
                  {% trans "BOUND_USERFUNDS" %}
                  ({{ fraction_bound_userfunds|render_percent }})
                </td>
                <td style="text-align: right;">
                  {{ funds_bound_userfunds|render_asset:asset }}
                </td>
              </tr>
              <tr class="info">
                <td colspan="2">
                  <div class="progress">
                    <div class="progress-bar progress-bar"
                         style="width: {{ fbuf_pending|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-info"
                         style="width: {{ fbuf_active|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-warning"
                         style="width: {{ fbuf_mediation|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-danger"
                         style="width: {{ fbuf_archived|render_percent }}">
                    </div>
                  </div>
                </td>
              </tr>

              {##### UNCOLLECTED_FEES #####}
              <tr class="success">
                <td>
                  {% trans "UNCOLLECTED_FEES" %}
                  ({{ fraction_uncollected_fees|render_percent }})
                </td>
                <td style="text-align: right;">
                  {{ funds_uncollected_fees|render_asset:asset }}
                </td>
              </tr>
              <tr class="success">
                <td colspan="2">
                  <div class="progress">
                    <div class="progress-bar progress-bar"
                         style="width: {{ fucf_pending|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-info"
                         style="width: {{ fucf_active|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-warning"
                         style="width: {{ fucf_mediation|render_percent }}">
                    </div>
                    <div class="progress-bar progress-bar-danger"
                         style="width: {{ fucf_archived|render_percent }}">
                    </div>
                  </div>
                </td>
              </tr>

              {##### COMPANY_FUNDS #####}
              <tr class="success">
                <td>
                  {% trans "COMPANY_FUNDS" %}
                  ({{ fraction_company|render_percent }})
                </td>
                <td style="text-align: right;">
                  {{ funds_company|render_asset:asset }}
                </td>
              </tr>
              <tr class="success">
                <td colspan="2">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success"
                         style="width: {{ fraction_company|render_percent }}">
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-6">

        {##### EMERGENCY STOP #####}
        {% if user.is_superuser %}
          <div class="alert alert-dismissable alert-warning"
               style="text-align: center;"> 
            <p>&nbsp;</p>
            <button type="button" class="btn btn-danger btn-lg"
                    onclick="window.location.href = '/asset/emergencystop';">
              {% trans "EMERGENCY_STOP" %}
            </button>
            <p>&nbsp;</p>
          </div>
        {% endif %}

        <div class="well">

          <h4>{% trans "COLD_STORAGE" %}</h4>

          {% if user.is_superuser %}
            {% url "asset_coldstorage_add" asset.lower as addurl %}
            {% render_button _("ADD_WALLET") addurl "btn btn-warning" %}

            {% url "asset_coldstorage_send" asset.lower as sendurl %}
            {% render_button _("SEND_FUNDS") sendurl "btn btn-warning" %}

            {% url "asset_coldstorage_import" asset.lower as importurl %}
            {% render_button _("IMPORT_WALLET") importurl "btn btn-warning" %}
          {% endif %}

          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>{% trans "ADDRESS" %}</th>
                <th>{% trans "RECEIVED" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for wallet in coldstorages %}
              <tr>
                <td>{{ wallet.address|render_address_link:asset }}</td>
                <td>{{ wallet.received|render_asset:asset }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
