{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load asset_tags %}

{% block content %}
  <div class="container"> 

    {##### EMERGENCY STOP #####}
    {% if user.is_superuser %}
      <div class="alert alert-dismissable alert-warning"
           style="text-align: center;"> 
        <p>&nbsp;</p>
        {% url 'asset_emergencystop' as emergencystopurl %}
        <button type="button" class="btn btn-danger btn-lg"
                onclick="window.location.href = '{{ emergencystopurl }}';">
          {% trans "EMERGENCY_STOP" %}
        </button>
        <p>&nbsp;</p>
      </div>
    {% endif %}

    {% for chunk in asset_chunks %}
      <div class="row">

        {% for asset in chunk %}
          <div class="col-sm-6">
            {% include "asset/preview.html" %}
          </div>
        {% endfor %}

      </div>
    {% endfor %}
    
  </div>
{% endblock %}
