<html>
  <head>
    <title> bitcoin-bounties.com </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Copyright" content="Fabian Barkhau 2014" />
    <meta name="keywords" content="Bitcoin, Bounty" />
    <style type="text/css"> body { text-align: center; } </style>
  </head>
  <body>
    <h1>bitcoin-bounties.com is currently down for maintenance.</h1> 
    <p>We will be back very soon. See <a href="https://twitter.com/bitcoinbounties">twitter.com/bitcoinbounties</a> for more information.</p>
  </body>
</html>
