{% load i18n %}
{% load common_tags %}
{% load bounty_tags %}
{% load claim_tags %}
{% load asset_tags %}

<div class="panel panel-default">
  <div class="panel-heading">
    <p>
      <div class="row">
        <div class="col-sm-12" style="text-align:right;">
          {% if_can_edit_claim user claim %}
            {% render_button_edit _("EDIT_CLAIM") claim.url_edit "btn btn-default btn-xs" %}
          {% endif_can_edit_claim %}

          {% if_can_change_address user claim %}
            {% render_button_edit _("CHANGE_PAYOUT_ADDRESS") claim.url_change_address "btn btn-default btn-xs" %}
          {% endif_can_change_address %}

          {% if_can_accept_claim user claim %}
            {% if claim.bounty.cashed_claim_count == 1 and claim.bounty.private %}
              {% render_button _("ACCEPT_CLAIM") claim.url_accept "btn btn-default btn-xs" "fa fa-trophy" %}
            {% else %}
              {% render_button _("APPROVE_CLAIM") claim.url_accept "btn btn-default btn-xs" "fa thumbs-up" %}
            {% endif %}
          {% endif_can_accept_claim %}

          {% if_can_declare_winner user claim %}
            {% render_button _("DECLARE_WINNER") claim.url_declare_winner "btn btn-warning btn-xs" "fa fa-trophy" %}
          {% endif_can_declare_winner %}
        </div>
      </div>
    </p>

    <table class="table table-striped table-hover ">
      <tbody>

        <tr>
          <td>{% trans "CLAIMANT" %}</td>
          <td>{{ claim.user.username }}</td>
        </tr>

        <tr>
          <td>{% trans "CREATED" %}</td>
          <td>
            {% blocktrans with date=claim.created_on|timesince %}
              {{ date }}_AGO
            {% endblocktrans %}
          </td>
        </tr>

        {% if user.is_staff %}
          <tr>
            <td>{% trans "WEIGHT" %}</td>
            <td>{{ claim.weight|render_percent }}</td>
          </tr>
        {% endif %}

        <tr>
          <td>{% trans "PAYOUT_ADDRESS" %}</td>
          <td>{{ claim.address|render_address_link:claim.bounty.asset }}</td>
        </tr>

        {% if claim.bounty.public and claim.accepts.all %}
          <tr>
            <td>{% trans "ACCEPTED_BY" %}</td>
            <td>
              {% for accept in claim.accepts.all %}
                {% if accept.user == user %}
                  <b>{{ accept.user.username }}</b>
                {% else %}
                  {{ accept.user.username }} 
                {% endif %}
                {% if user.is_staff %}
                  ({{ accept.weight|render_percent }})
                {% endif %}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}

      </tbody>
    </table>
  </div>
  <div class="panel-body">
    {{ claim.description|render_markdown }}
  </div>
</div>

{% with claim.comments.all as comments %}
  {% include "comments/list.html" %}
{% endwith %}

