{% load i18n %}
{% load common_tags %}
{% load asset_tags %}
{% load userfund_tags %}

<table class="table table-striped table-hover ">
  <tbody>
    <tr>
      <td>
        {% trans "REWARD" %} 
      </td>
      <td style="text-align: right;">
        {{ bounty.display_reward|render_asset:bounty.asset }}
      </td>
    </tr>
    <tr>
      <td>
        {% trans "FEES" %} 
        (+{{ bounty.fees|render_percent }})
      </td>
      <td style="text-align: right;">
        {{ bounty.display_fees|render_asset:bounty.asset }}
      </td>
    </tr>

    {% if bounty.state == "PENDING" %}
      <tr>
        <td>{% trans "FUNDED" %} ({{ bounty.funded_ratio|render_percent }})
        </td>
        <td style="text-align: right;">
          {{ bounty.received|render_asset:bounty.asset }} / 
          {{ bounty.target_funds|render_asset:bounty.asset }}
        </td>
      </tr>
      <tr>
        <td>{% trans "FUNDS_NEEDED" %}</td>
        <td style="text-align: right;">
          <b>{{ bounty.funds_needed|render_asset:bounty.asset }}</b>
        </td>
      </tr>
    {% else %}
      <tr>
        <td>{% trans "TOTAL" %}</td>
        <td style="text-align: right;">
          {{ bounty.received|render_asset:bounty.asset }}
        </td>
      </tr>
    {% endif %}

    {% if_can_fund user bounty %}
      {% if userfund.balance %}
        <tr>
          <td>
            {% trans "YOUR_FUNDS" %}
            ({{ userfund.balance|div:bounty.received|render_percent }})
          </td>
          <td style="text-align: right;">
            {{ userfund.balance|render_asset:bounty.asset }}
          </td>
        </tr>
      {% endif %}
    {% endif_can_fund %}

  </tbody>
</table>

