{% extends "bounty/view.html" %}
{% load i18n %}
{% load common_tags %}
{% load claim_tags %}

{% block content %}
  {% if claims %}
    <div class="container">
      <div class="row">
        {% if_can_view_claim user claim %}
          <div class="col-sm-7">
            {% include "claim/view.html" %}
          </div>
        {% endif_can_view_claim %}
        {% if_can_view_claims user bounty %}
          <div class="col-sm-5">
            {% include "claim/list.html" %}
          </div>
        {% endif_can_view_claims %}
      </div>
    </div>
  {% endif %}
{% endblock %}

